<h1>パスワードを忘れた場合は…
<p>If you forget your password...</p>
</h1>

<%= form_for :user, Routes.user_reset_password_path(@conn, :create), fn f -> %>
  <p>パスワードリセット用のURLをメールにてご案内します</p>
  <p>下記にメールアドレスをご記入いただき、パスワードリセットを開始してください</p>

  <%= label f, :email, "メールアドレス" %>
  <%= email_input f, :email, required: true %>

  <div>
    <%= submit "パスワードリセットを開始する" %>
  </div>
<% end %>
