<div>
  <h2><%= @title %></h2>

  <.form
    let={f}
    for={@changeset}
    id="agent-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save">

    <%= if @title == "New Agent" do %>
      <div class="search">
        <input type="search" class="input" name="agent[search]" phx-debounce="300" placeholder="名前、メールアドレスで絞り込み" value={@search}>
        <i class="icon fas fa-search"></i>
      </div>

      <%= label f, :user_id, "ユーザ" %>
      <%= if @candidate_users != "" do %>
        <%= select f, :user_id, @candidate_users |> Enum.map( fn x -> {x.email <> " " <> x.last_name <> " " <> x.first_name, x.id} end ) %>
      <% end %>
      <%= error_tag f, :user_id %>
    <% else %>
      <%= hidden_input f, :user_id %>
    <% end %>
  
<!--
    <%= label f, :user_id %>
    <%= number_input f, :user_id %>
    <%= error_tag f, :user_id %>
-->

<!--  
    <%= label f, :agency_id %>
    <%= number_input f, :agency_id %>
    <%= error_tag f, :agency_id %>
-->

    <%= hidden_input f, :agency_id %>
    <%= label f, :agency_id, "代理店名" %>
    <%= text_input f, :agency_id, value: (@agencies |> Enum.find( fn x -> x.id == @selected_agency end )).brand, disabled: true %>
  
    <%= label f, :discount, "割引" %>
    <%= number_input f, :discount, step: "any" %>
    <%= error_tag f, :discount %>
  
    <%= label f, :boost, "ブースト" %>
    <%= number_input f, :boost, step: "any" %>
    <%= error_tag f, :boost %>
  
<!--
    <%= label f, :deleted_at %>
    <%= datetime_select f, :deleted_at %>
    <%= error_tag f, :deleted_at %>
-->
  
    <div>
      <%= submit "Save", phx_disable_with: "Saving..." %>
    </div>
  </.form>
</div>
