<h1>Listing Agents</h1>

<%= if @selected_agency == "" do %>
  所属代理店が登録されていません。下記リンクで代理店を新規登録してください。
  <%= live_patch "代理店を新規登録する", to: Routes.agency_index_path(@socket, :new) %>

<% else %>
  <%= if @live_action in [:new] do %>
    <%= live_modal @socket, BasicWeb.AgentLive.FormComponent,
      id: @agent.id || :new,
      title: @page_title,
      action: @live_action,
      agent: @agent,
      agencies: @agencies,
      search: @search,
      candidate_users: @candidate_users,
      current_user_id: @current_user_id,
      selected_agency: @selected_agency,
      return_to: Routes.agent_index_path(@socket, :index) %>
  <% end %>

  <%= if @live_action in [:edit] do %>
    <%= live_modal @socket, BasicWeb.AgentLive.FormComponent,
      id: List.first(@agent).id || :edit,
      title: @page_title,
      action: @live_action,
      agent: @agent,
      agencies: @agencies,
      search: @search,
      candidate_users: @candidate_users,
      current_user_id: @current_user_id,
      selected_agency: @selected_agency,
      return_to: Routes.agent_index_path(@socket, :index) %>
  <% end %>

  <%= f = form_for :choice, "#", id: "agent-index", phx_change: "validate" %>
  <table>
    <%= label f, :agency_id, "代理店名" %>
    <%= select f, :agency_id, @agencies |> Enum.map( fn x -> {x.brand, x.id} end), selected: @selected_agency %>
    <%= error_tag f, :agency_id %>
  </table>
  </form>

  <table>
    <thead>
      <tr>
<!--
        <th>User</th>
        <th>Agency</th>
        <th>Discount</th>
        <th>Boost</th>
        <th>Deleted at</th>
-->
        <th>ユーザID</th>
        <th>ユーザEmail</th>
        <th>割引</th>
        <th>ブースト</th>

        <th></th>
      </tr>
    </thead>
    <tbody id="agents">
      <%= for agent <- @agents do %>
        <tr id="agent-<%= List.first(agent).id %>">
<!--
          <td><%= List.first(agent).user_id %></td>
          <td><%= List.first(agent).agency_id %></td>
          <td><%= List.first(agent).discount %></td>
          <td><%= List.first(agent).boost %></td>
          <td><%= List.first(agent).deleted_at %></td>
-->
          <td><%= List.first(agent).user_id %></td>
          <td><%= Enum.at(agent, 1).email %></td>
          <td><%= List.first(agent).discount %></td>
          <td><%= List.first(agent).boost %></td>

          <td>
            <span><%= live_redirect "Show", to: Routes.agent_show_path(@socket, :show, List.first(agent).id) %></span>
            <span><%= live_patch "Edit", to: Routes.agent_index_path(@socket, :edit, List.first(agent).id) %></span>
            <span><%= live_redirect "Delete", to: Routes.agent_index_path(@socket, :index) <> "?agency_id=" <> Integer.to_string(List.first(agent).agency_id), phx_click: "delete", phx_value_id: List.first(agent).id, data: [confirm: "Are you sure?"] %></span>
<!--
            <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: List.first(agent).id, data: [confirm: "Are you sure?"] %></span>
-->
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <span><%= live_patch "New Agent", to: Routes.agent_index_path(@socket, :new) %></span>
<% end %>
