<h1>Show Agent</h1>

<%= if @live_action in [:edit] do %>
  <%= live_modal @socket, BasicWeb.AgentLive.FormComponent,
    id: @agent.id,
    title: @page_title,
    action: @live_action,
    agent: @agent,
    agencies: @agencies,
    return_to: Routes.agent_show_path(@socket, :show, @agent.id) %>
<% end %>

<ul>

  <li>
    <strong>ユーザID:</strong>
    <%= @agent.user_id %>
  </li>

  <li>
    <strong>ユーザEmail:</strong>
    <%= @agent.user_email %>
  </li>
<!--
  <li>
    <strong>Agency:</strong>
    <%= @agent.agency_id %>
  </li>
-->
  <li>
    <strong>代理店名:</strong>
    <%= @agent.agency_brand %>
  </li>

  <li>
    <strong>割引:</strong>
    <%= @agent.discount %>
  </li>

  <li>
    <strong>ブースト:</strong>
    <%= @agent.boost %>
  </li>
<!--
  <li>
    <strong>Deleted at:</strong>
    <%= @agent.deleted_at %>
  </li>
-->
</ul>

<span><%= live_patch "Edit", to: Routes.agent_show_path(@socket, :edit, @agent.id), class: "button" %></span>
<span><%= live_redirect "Back", to: Routes.agent_index_path(@socket, :index) %></span>
