@charset "UTF-8";@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);

html
{
  overflow: visible;
}

body
{
  text-rendering: optimizeLegibility;
  font-size: 1rem;
}






.v-main__wrap
{
  display: flex;
  flex-flow: column wrap;
  outline: 3px solid #04122c;
}

.container
{
  min-height: 1px;
  max-width: none;
  padding: 0!important;
}

.main
{
  max-width: 100%;
  max-width: 1200px;
  padding: 0;
}





.header
{
  width: 100%;
  max-width: 100%;
  border: 0;
  background: #fff;
  margin-bottom: 0;
}

.header__inner
{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  padding:0 50px;
}

.header-control
{
  margin: 0 0 0 auto;
}





#footer.footer
{
  width: 100%;
  min-height: 1px;
  background: #04122c;
  margin-top: auto;
}

#footer .footer-nav-body
{
  list-style: none;
  margin: 0;
  padding: 0 0 0 40px;
}

#footer .footer-nav-item
{
  margin: 1em;
  padding: 0;
  font-size: 15px;
  color: #fff;
  text-align: center;
}








h1
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  padding: 30px 30px 35px 30px;

  background-image: url(/images/caption-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  font-size: 26px;
  font-weight: 700;
}

h1 p
{
  font-size: 3rem;
}

table
{
  margin: 0px 4%;
  text-align: center;
  max-width: 92%;
}

th, td
{
  margin: 0px;
  padding: 5px;

  text-align: center;
}

span
{
  height: 300px;
  margin: 4%;
}

ul
{
  margin: 0px 4%;
  max-width: 92%;
}




label,legend
{
  display: block;
  font-size: 1rem;
  font-weight: 400;
}

fieldset,input,label,legend,select,textarea
{
  margin-bottom: 0;
}

button
{
  margin: 30px 0px 0px 0px;

  height: 35px;
  line-height: 35px;
  border-radius: 30px;
  border: 0px;

  background-color: #1976d2!important;

  color: white!important;
}

.button
{
  margin: 0px 20px 0px 0px;

  height: 35px;
  line-height: 35px;
  border-radius: 30px;
  border: 0px;

  background-color: #1976d2!important;

  color: white!important;
  font-weight: normal;
  text-transform: none;
}

button:hover
{
  color: white!important;
  background-color: #2092da!important;
}

.button:hover
{
  color: white!important;
  background-color: #2092da!important;
}

input[type=text], input[type=password], input[type=search], input[type=number], input[type=email], input[type=tel], input[type=date], input[type=url], select, textarea
{
  width: 100%;
  height: auto;
  padding: 0 8px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: transparent;

  border: 0;
  border-bottom: 1px solid #c0c0c0;
  border-radius: 0;

  box-shadow: none;
  box-sizing: inherit;
}

button.mb0.v-btn.v-btn--is-elevated.v-btn--has-bg.v-btn--rounded.theme--dark.elevation-2.v-size--large.indigo.darken-4
{
  margin: 0;
}

.v-btn
{
  text-transform: none;
}






.pagination-body
{
  display: inline-flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  list-style: none;
  align-items: center;
  list-style-type: none;
}

.pagination-body > li
{
  display: flex;
  align-items: center;
}

.pagination-body > li > a
{
  display:flex;
  align-items: center;
  justify-content: center;  
  width: auto;
  height: 42px;  
  border-radius: 4px;
  line-height:1;
  font-size: 15px;
  margin: .3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: .3s cubic-bezier(0,0,.2,1);
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  background: #fff;
  color: rgba(0,0,0,.87);
}

.pagination-body > li.is-current > a
{
  background: #1976d2 !important;
  color: #fff !important;
  pointer-events:none;
}

.pagination-body > .is-prev > a,
.pagination-body > .is-next > a
{
  color: #999;
  font-weigth:bold;
}

.search
{
  text-align: right;
  position: relative;
}

.search .input
{
  margin: 0px 4%;
  width: 400px;
}

.search .icon
{
  position: absolute;
  right: 5%;
  top: 0px;
  font-size: 20px;
  color: gray;
}


.phx-modal
{
  
}

.phx-modal-content
{
  margin: 4% auto;
}







.article-unit
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start
}

.article-unit-chamber>:first-child,
.article-unit-content>:first-child,
.v-application .article-unit-chamber>:first-child,
.v-application .article-unit-content>:first-child
{
  margin-top: 0;
}

.article-unit-content
{
  width: 57%;
  max-width: 57%;
}

.article-unit-content>:last-child,
.v-application .article-unit-content>:last-child,
.v-application .article-unit-content__text p:last-child,
.v-application .v-card__text p:last-child
{
  margin-bottom: 0
}

.v-application .article-unit-content__title
{
  font-weight: 700;
  margin-bottom: 1em;
  line-height: 1.4;
  font-size: 24px;
  border-bottom: none
}

.btn-group-center
{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
}
