@charset "UTF-8";@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);

html
{
  overflow: visible;
}

body
{
  text-rendering: optimizeLegibility;
  font-size: 1rem;
}






/*--------------------------------------------------------------------------------------------------
  ページ全体レイアウト（フッター縦幅固定用）
--------------------------------------------------------------------------------------------------*/
.v-main__wrap
{
  display: flex;
  flex-flow: column wrap;
  outline: 3px solid #04122c;
}

/*--------------------------------------------------------------------------------------------------
  寄せ
--------------------------------------------------------------------------------------------------*/
.lefted
{
  margin: 0 auto 0 0;
  text-align: left;
}

.righted
{
  margin: 0 0 0 auto;
  text-align: right;
}

.centered
{
  margin: 0 auto 0 auto;
  text-align: center;
}

/*--------------------------------------------------------------------------------------------------
  ヘッダー
--------------------------------------------------------------------------------------------------*/
.header
{
  width: 100%;
  max-width: 100%;
  border: 0;
  background: #fff;
  margin-bottom: 0;
}

.header__inner
{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  height: 70px;
  padding: 0 50px;
}

/*--------------------------------------------------------------------------------------------------
  コンテナ（ヘッダー配下）
--------------------------------------------------------------------------------------------------*/
.container
{
  min-height: 1px;
  max-width: none;
  padding: 0 !important;
}

/*--------------------------------------------------------------------------------------------------
  フッター
--------------------------------------------------------------------------------------------------*/
.footer
{
  width: 100%;
  min-height: 1px;
  background: #04122c;
  margin-top: auto;
}

.footer-body
{
  list-style: none;
  margin: 0;
  padding: 0 0 0 40px;
}

.footer-item
{
  margin: 1em;
  padding: 0;
  font-size: 15px;
  color: #ffffff;
  text-align: center;
}

/*--------------------------------------------------------------------------------------------------
  中央絞り込み
--------------------------------------------------------------------------------------------------*/
.narrowed
{
  margin: 0 auto 80px !important;
  max-width: 1200px;
}

/*--------------------------------------------------------------------------------------------------
  nペインレイアウト（各ペインは左寄せ）の親
--------------------------------------------------------------------------------------------------*/
.lefted-pane
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  margin-top: 0;
}

/*--------------------------------------------------------------------------------------------------
  nペインレイアウト（各ペインは中央寄せ）の親
--------------------------------------------------------------------------------------------------*/
.centered-pane
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: top;
  margin-top: 0;
}

/*--------------------------------------------------------------------------------------------------
  3等分（2ペインレイアウトやGoogle Keep的メーソンリィレイアウトを作るのに利用）
  
  2ペインレイアウト：<div class="trisect"><div class="trisect-double">
  メーソンリィレイアウト：<div class="trisect"><div class="trisect"><div class="trisect">
--------------------------------------------------------------------------------------------------*/
.trisect
{
  width: 33%;
  padding: 0;
  margin: 0;
}

.trisect-double
{
  width: 67%;
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------------------------------------------
  4等分（3ペインレイアウトを作るのに利用）
  
  3ペインレイアウト：<div class="quadrisect"><div class="quadrisect-double"><div class="quadrisect">
--------------------------------------------------------------------------------------------------*/
.quadrisect
{
  width: 25%;
  padding: 0;
  margin: 0;
}

.quadrisect-double
{
  width: 50%;
  padding: 0;
  margin: 0;
}

.quadrisect-triple
{
  width: 75%;
  padding: 0;
  margin: 0;
}

/*--------------------------------------------------------------------------------------------------
  マークダウン用では無い見出し
--------------------------------------------------------------------------------------------------*/
.not-markdown-h2
{
  margin: 0 !important;
  padding: 0 0 25px 0 !important;

  font-weight: 700;
  margin-bottom: 1em;
  font-size: 24px !important;
  border-bottom: none !important;
}

/*--------------------------------------------------------------------------------------------------
  本文（見やすさのために左右スペースを置く）
--------------------------------------------------------------------------------------------------*/
.article
{
  padding: 0 3rem;
}

/*--------------------------------------------------------------------------------------------------
  以下、自動生成HTML向け
--------------------------------------------------------------------------------------------------*/
h1
{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  max-width: 100%;
  padding: 30px 30px 35px 30px;
  /* margin: 0; */

  background-image: url(/images/caption-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  font-size: 26px;
  font-weight: 700;
}

h1 > p
{
  font-size: 1.2rem;
}

h3
{
  margin: 30px 10% 20px 10%;
  max-width: 92%;
}

form
{
  margin: 0 10%;
  max-width: 92%;
}

.table-form
{
  margin: 0 4%;
  max-width: 92%;
}

table
{
  margin: 0 4%;
  text-align: center;
  max-width: 92%;
}

th, td
{
  margin: 0;
  padding: 5px;

  text-align: center;
}

span
{
  height: 300px;
  margin: 4%;
}

ul
{
  margin: 0 4%;
  max-width: 92%;
}

button
{
  margin: 30px 0 0 0;

  height: 35px;
  line-height: 35px;
  border-radius: 30px;
  border: 0;

  background-color: #1976d2 !important;

  color: white !important;
}

.button
{
  margin: 0 20px 0 0;

  height: 35px;
  line-height: 35px;
  border-radius: 30px;
  border: 0;

  background-color: #1976d2 !important;
  /* background-color: #2869ca !important; */

  color: white !important;
  font-weight: normal;
  text-transform: none;
}

button:hover
{
  color: white !important;
  background-color: #2092da !important;
}

.button:hover
{
  color: white !important;
  background-color: #2092da !important;
  /* background-color: #2879ea !important; */
}

label, legend
{
  margin: 25px 0 0 0;

  font-size: 1rem;
  font-weight: 600;
}

input[type=file], fieldset, input, label, legend, select, textarea
{
  margin-bottom: 0;
}

input[type=text], input[type=password], input[type=search], input[type=number], input[type=email], input[type=tel], input[type=date], input[type=url], select, textarea
{
  height: auto;
  padding: 0 30px 0 0;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background-color: transparent;

  border: 0;
  border-bottom: 1px solid #c0c0c0;
  border-radius: 0;

  box-shadow: none;
  box-sizing: inherit;
}

.invalid-feedback
{
  display: inline;
  line-height: 3em;
}

.checkbox-pane
{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: baseline;
}

input:-webkit-autofill
{
  transition: background-color 5000s ease-in-out 0s !important;
}

.v-btn
{
  margin: 0;
  text-transform: none;
}

/*--------------------------------------------------------------------------------------------------
  ページネータUI
--------------------------------------------------------------------------------------------------*/
.pagination
{
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;

  list-style: none;
  list-style-type: none;
}

.pagination > li
{
  display: flex;
  align-items: center;
}

.pagination > li > a
{
  display: flex;
  justify-content: center;  
  align-items: center;

  width: auto;
  height: 42px;  
  border-radius: 4px;

  line-height: 1;
  font-size: 15px;
  margin: .3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: .3s cubic-bezier(0,0,.2,1);
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  background: #ffffff;
  color: rgba(0,0,0,.87);
}

.pagination > li.is-current > a
{
  background: #1976d2 !important;
  color: #ffffff !important;
  pointer-events: none;
}

.pagination > .is-prev > a,
.pagination > .is-next > a
{
  color: #999999;
  font-weigth: bold;
}

/*--------------------------------------------------------------------------------------------------
  検索UI
--------------------------------------------------------------------------------------------------*/
.search
{
  text-align: right;
  position: relative;
  margin: 0 0 30px 0;
}

.search .input
{
  margin: 0;
  width: 400px;
}

.search .icon
{
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
  color: gray;
}

/*--------------------------------------------------------------------------------------------------
  LiveViewモーダルダイアログ
--------------------------------------------------------------------------------------------------*/
.phx-modal
{
  
}

.phx-modal-content
{
  margin: 4% auto;
}
