@charset "UTF-8";@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap);



label,legend{display:block;font-size:1rem;font-weight:400}

fieldset,input,label,legend,select,textarea{margin-bottom:0}input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:transparent;border:0;border-radius:0;box-shadow:none;box-sizing:inherit;height:auto;padding:0 8px;width:100%}

html
{
  overflow: visible;
}

body
{
  text-rendering: optimizeLegibility;
  font-size: 1rem;
}

#app .v-application .primary
{
  background-color: #0082aa!important;
  border-color: #0082aa!important;
}

#app .v-application .indigo.darken-4
{
  background-color: #152d5b!important;
  border-color: #152d5b!important;
}

#app .v-application .article-unit-content__btn-group .indigo.darken-4,#app .v-application .article-unit-content__btn-group .teal.darken-3
{
  background-color: #e73b68!important;
  border-color: #e73b68!important;
  height: 36px;
  font-size: 15px;
  margin: 0 5px 0 0;
}

#app .v-application .article-unit-content__btn-group .teal.darken-3
{
  margin: 0 0 0 5px
}

.open-sans
{
  font-family:'Open Sans',sans-serif
}

.v-main__wrap
{
  display: flex;
  flex-flow: column wrap;
  outline: 3px solid #04122c;
}

.container
{
  min-height: 1px;
  max-width: none;
  padding: 0!important;
}

.main
{
  max-width: 100%;
  max-width: 1200px;
  padding: 0;
}






h1
{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 100%;
  padding: 30px 30px 35px 30px;

  background-image: url(/images/caption-background.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  color: white;
  font-size: 26px;
  font-weight: 700;
}

h1 p
{
  font-size: 3rem;
}

table
{
  margin: 0px 4%;
  text-align: center;
  max-width: 92%;
}

th, td
{
  margin: 0px;
  padding: 5px;

  text-align: center;
}

span
{
  height: 300px;
  margin: 4%;
}

ul
{
  margin: 0px 4%;
  max-width: 92%;
}

button
{
  margin: 30px 0px 0px 0px;

  height: 35px;
  line-height: 35px;
  border-radius: 30px;
  border: 0px;

  background-color: #1976d2!important;

  color: white!important;
}

.button
{
  margin: 0px 20px 0px 0px;

  height: 35px;
  line-height: 35px;
  border-radius: 30px;
  border: 0px;

  background-color: #1976d2!important;

  color: white!important;
  font-weight: normal;
  text-transform: none;
}

button:hover
{
  color: white!important;
  background-color: #2092da!important;
}

.button:hover
{
  color: white!important;
  background-color: #2092da!important;
}

input[type='text'], input[type='password'], input[type='search'], input[type='number'], input[type='email'], input[type='tel'], input[type='date'], select, textarea
{
  border-bottom: 1px solid #c0c0c0;
}

.pagination-body
{
  display: inline-flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  list-style: none;
  align-items: center;
  list-style-type: none;
}

.pagination-body > li
{
  display: flex;
  align-items: center;
}

.pagination-body > li > a
{
  display:flex;
  align-items: center;
  justify-content: center;  
  width: auto;
  height: 42px;  
  border-radius: 4px;
  line-height:1;
  font-size: 15px;
  margin: .3rem;
  min-width: 34px;
  padding: 0 5px;
  text-decoration: none;
  transition: .3s cubic-bezier(0,0,.2,1);
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  background: #fff;
  color: rgba(0,0,0,.87);
}

.pagination-body > li.is-current > a
{
  background: #1976d2 !important;
  color: #fff !important;
  pointer-events:none;
}

.pagination-body > .is-prev > a,
.pagination-body > .is-next > a
{
  color: #999;
  font-weigth:bold;
}

.search
{
  text-align: right;
  position: relative;
}

.search .input
{
  margin: 0px 4%;
  width: 400px;
}

.search .icon
{
  position: absolute;
  right: 5%;
  top: 0px;
  font-size: 20px;
  color: gray;
}


.phx-modal
{
  
}

.phx-modal-content
{
  margin: 4% auto;
}




#footer.footer{width:100%;min-height:1px;background:#04122c;margin-top:auto}

#footer .footer__inner{margin:0 auto;padding:0 50px}

#footer .footer-primary-group{display:flex;flex-flow:row wrap;justify-content:flex-end;align-items:flex-start;padding:80px 0 45px}

#footer .footer-infobox-msg{line-height:1.4;font-size:22px;font-weight:700;margin:0 0 5px;color:#fff}

#footer .footer-infobox-lead,
#footer .footer-nav-item a{line-height:1.2;font-size:12px;margin:0}

#footer .footer-nav{display:flex;flex-flow:row wrap;justify-content:flex-start;align-items:flex-start;font-size:16px}

#footer .footer-nav-body{list-style:none;margin:0;padding:0 0 0 40px}

#footer .footer-nav-item{margin:1em;padding:0;font-size:15px;color:#fff;text-align: center}

#footer .footer-nav-item a{display:inline-block;padding:0;color:#fff;}

#footer .footer-nav-item a:active,#footer .footer-nav-item a:focus,#footer .footer-nav-item a:hover,#footer .footer-nav-item a:link,#footer .footer-nav-item a:visited{color:#fff}

#footer .footer-nav-item a:hover{opacity:.7;transition:.3s}

#footer .footer-nav-head,#footer .footer-nav-item .footer-nav-head a{margin:0;padding:0;font-size:16px;font-weight:700;line-height:1.2;color:#616265}#footer .footer-nav-item .footer-nav-head a{font-size:15px;transition:all .3s ease}#footer .footer-nav-item .footer-nav-head a:hover,.gnav-item a:hover,.header-logo a:hover{opacity:.7}#footer .footer-nav-item .footer-nav-head a:active,#footer .footer-nav-item .footer-nav-head a:focus,#footer .footer-nav-item .footer-nav-head a:hover,#footer .footer-nav-item .footer-nav-head a:link,#footer .footer-nav-item .footer-nav-head a:visited{color:#616265}#footer .footer-secondary-group{display:flex;flex-flow:row wrap;justify-content:space-between;align-items:center;border-top:solid 1px rgba(255,255,255,.5);padding:25px 0 50px}.header{width:100%;max-width:100%;border:0;background:#fff;margin-bottom:0}.gnav-body,.header__inner{display:flex;flex-flow:row wrap;justify-content:flex-start;align-items:center}.header__inner{height:70px;padding:0 50px}.header-logo a{display:block;transition:all .3s ease}.header-logo svg{width:190px;margin-top:16px}.gnav-body{list-style:none;padding:0;margin:0}.gnav-item{margin:0}.gnav-item a{padding:10px 18px;line-height:1.2;font-weight:700;font-size:16px;color:#333;transition:all .3s ease}.gnav-item a:active,.gnav-item a:focus,.gnav-item a:hover,.gnav-item a:link,.gnav-item a:visited{color:#333}.header-control{margin:0 0 0 auto}.btn01__inner.header-login-btn__inner{font-size:14px}.cta,.cta__inner,.header-userinfo{display:flex;flex-flow:row wrap}





button.mb0.v-btn.v-btn--is-elevated.v-btn--has-bg.v-btn--rounded.theme--dark.elevation-2.v-size--large.indigo.darken-4
{
  margin: 0;
}

.v-btn
{
  text-transform: none;
}










.article-unit
{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start
}

.article-unit-chamber
{
  width: 40%;
  max-width: 40%;
}




.article-unit-chamber>:first-child,
.article-unit-content>:first-child,
.v-application .article-unit-chamber>:first-child,
.v-application .article-unit-content>:first-child
{
  margin-top: 0;
}

.article-unit-chamber__thumb
{
  width: 100%;
  max-width: 100%;
  margin-bottom: 1em
}





.article-unit-content
{
  width: 57%;
  max-width: 57%;
}

.article-unit-content>:last-child,
.v-application .article-unit-content>:last-child,
.v-application .article-unit-content__text p:last-child,
.v-application .v-card__text p:last-child
{
  margin-bottom: 0
}

.v-application .article-unit-content__title
{
  font-weight: 700;
  margin-bottom: 1em;
  line-height: 1.4;
  font-size: 24px;
  border-bottom: none
}

.article-unit-content__btn-group
{
  margin-top: 20px
}
