/*-----------------------------------------------------------------------
  共通
-----------------------------------------------------------------------*/
.disable
{
	display: none;
}
.disable.enable
{
	display: inline-block;
}

.selector
{
	display: inline-block;
}

.selector span
{
	position:	relative;
	z-index:	1;

	margin:		0px;
	padding:	0px;

	-ms-user-select:		none;
	-moz-user-select:		none;
	-khtml-user-select:		none;
	-webkit-user-select:	none;
	user-select:			none;
}

.selector span:hover
{
	width:				100%;
	background-color:	#cce8ff;
	outline: 			1px solid #99d1ff;
}
.selector a:focus
{
	width:				100%;
	background-color:	#cce8ff;
	outline: 			1px solid #99d1ff;
}
.selector a
{
	display: block;
	text-decoration: none;
}

/*-----------------------------------------------------------------------
  プロパティウインドウ、表示時背景
-----------------------------------------------------------------------*/
.property
{
	text-align: left;

	position: fixed;
	top:      0;

	width:  490px;

	height: 100%;

	padding: 0px 10px;

	z-index: 1000;

	background-color:            #ffffff;
	box-shadow:       -1px 0 2px #dcdcdc;

	transition: all 0.1s;	/* open animation duration */
}
.property.left
{
	left:    0;

	-webkit-transform: translate( -490px );
	-ms-transform:     translate( -490px );
	transform:         translate( -490px );
}
.property.right
{
	right:    0;

	-webkit-transform: translate(  490px );
	-ms-transform:     translate(  490px );
	transform:         translate(  490px );
}
.property.open 
{
	-webkit-transform: translate( 0 );
	-ms-transform:     translate( 0 );
	transform:         translate( 0 );
}

.modal_back
{
	display: none;

	position: fixed;
	left: 0;
	top: 0;
	width:  100%;
	height: 100%;

	background: rgba( 0, 0, 0, 0.7 );

	z-index: 999;
	text-indent: -999999px;
}

/*-----------------------------------------------------------------------
  モードレスダイアログ
-----------------------------------------------------------------------*/
.modeless_dialog
{
	display: none;

	position: fixed; 
	width: 480px; 
	height: 210px; 
	right: 0; 
	bottom: 0; 

	border: 1px solid #909090;

	background-color: #ffffff;

	z-index: 1001;
}

/*-----------------------------------------------------------------------
  アイコン
-----------------------------------------------------------------------*/
.folder
{
	color: #d9d900;
}

/*-----------------------------------------------------------------------
  highlight.js上書き用
-----------------------------------------------------------------------*/
td.hljs-ln-numbers
{
    -webkit-touch-callout: none;
    -webkit-user-select:   none;
    -khtml-user-select:    none;
    -moz-user-select:      none;
    -ms-user-select:       none;
    user-select:           none;

	text-align: center;
	color: #ccc;
	border-right: 1px solid #CCC;
	vertical-align: top;
	padding-right: 5px;

	border: 0px;
}

td.hljs-ln-code
{
	padding-left: 10px !important;
	border: 0px;
}

.hljs-subst
{
	color: #d69d85;
}

.hljs-symbol
{
	color: #96ccff;
}

/*-----------------------------------------------------------------------
  markd.js上書き用
-----------------------------------------------------------------------*/
.main
{
	margin: 20px auto 80px auto;
	/*width:  90vw;*/
	max-width: 1200px;
}

.main table tr th:nth-of-type(2)
{
    text-align: center;
}

.main table tr td:nth-of-type(2)
{
    text-align: center;
}

.main .title
{
	font-size: 220%; 
	font-weight: bold; 
	color: #333333; 
	margin-top: 20px;
}

.main hr
{
	color:		#e0e0e0;
	border-top:	1px solid #e0e0e0;

	margin-top:    30px;
	margin-bottom: 30px;
}

.main img
{
	display: block;

	max-width: 100%;
	margin-bottom: 30px;
}

.main h1
{
	font-size: 120%;
	line-height:1.2em;
	border-bottom: 1px solid #d0c0c0;
	margin-top:     2.2em;
	margin-bottom:  20px;
	padding-bottom: 5px;
}

.main h1:first-child
{
	margin-top: 0.5em;
	padding: 0 0 0.3em 0;
	border-bottom: 5px solid #eee;
	font-size: 100%;
    font-weight:bold;
}

.main h2
{
	font-size: 100%;
	border-bottom: 2px solid #eee;
	margin-top:     2.0em;
	margin-bottom:  20px;
	padding-bottom: 5px;
}

.main h3
{
	font-size: 110%;
	border-bottom: 1px solid #e0e0e0;
	margin-top:     2.0em;
	margin-bottom:  20px;
	padding-bottom: 5px;
}

.main h4
{
	font-size: 100%;
	border-bottom: 1px solid #e0e0e0;
	margin-top:     2.0em;
	margin-bottom:  20px;
	padding-bottom: 5px;
}

.main p
{
	margin-bottom: 1.5rem;
}

.main-mini
{
	margin: 0px 20px; 
}

.main-mini .title
{
	font-size: 220%; 
	font-weight: bold; 
	color: #333333; 
	margin-top: 20px;
}

.main-mini hr
{
	color:		#e0e0e0;
	border-top:	1px solid #e0e0e0;

	margin-top:    30px;
	margin-bottom: 30px;
}

.main-mini img
{
	display: block;

	max-width: 100%;
	margin-top:    30px;
	margin-bottom: 30px;
}

.main-mini h1
{
	font-size: 180%;
	border-bottom: 1px solid #d0c0c0;
	margin-top:     2.2em;
	margin-bottom:  20px;
	padding-bottom: 5px;
}

.main-mini h1:first-child
{
	margin-top: 0.5em;
}

.main-mini h2
{
	font-size: 160%;
	border-bottom: 1px solid #e0e0e0;
	margin-top:     2.0em;
	margin-bottom:  20px;
	padding-bottom: 5px;
}

.main-mini h3
{
	font-size: 140%;
	border-bottom: 1px solid #e0e0e0;
	margin-top:     2.0em;
	margin-bottom:  20px;
	padding-bottom: 5px;
}

.main-mini h4
{
	font-size: 120%;
	border-bottom: 1px solid #e0e0e0;
	margin-top:     2.0em;
	margin-bottom:  20px;
	padding-bottom: 5px;
}

.main-mini p
{
	margin-bottom: 1.5rem;
}

.chip
{
	display: inline-block;

	margin: 10px 0px;
	padding: 3px 15px;
	font-size: 16px;
	border-radius: 10px;
	background-color: #e9e9e9;
}

.closable_chip
{
	padding-left: 10px;
	color: #808080;
	font-weight: bold;
	float: right;
	font-size: 20px;
	cursor: pointer;
}

.closable_chip:hover
{
	color: #000000;
}
